@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    font-family: 'Poppins', sans-serif;

  }
  html,body{
    min-height: 100%
  }
  #root{
    min-height: 100%;
  }
  
}

@layer utilities{
  .left-640{
    left:720px
  }
}