
.previousBttn, .nextBttn{
    color: white;
    padding: 2px 0.5rem;
    background-color: #F59E0B;
    
}
.previousBttn:hover ,.nextBttn:hover{
    color: black;
}

.pageA,.previousBttn,.nextBttn{
    text-decoration: none;
    padding: 2px 0.5rem; 
    margin: 0px 0.3rem;
}
.pageA{
    border: solid 1px #F59E0B;
    color: #F59E0B;
    font-weight: bold;
}
.pageA:hover{
    color: black;
}

.paginationDisabled a{
    background-color: gray;
    pointer-events: none;
}

.activeA{
    background-color: #F59E0B;
    color: white;
}

.break a{
    color: black;
}